# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/node_modules
client/package-lock.json
client/yarn.lock
server/node_modules

# graphqlgen tmp
server/src/generated/tmp-resolvers

# docz dev
client/.docz/cache/*
client/.docz/app/*

# testing
# client/coverage

# production
# client/build
